:root {
    --familia-corpo: 'Montserrat', sans-serif;

    --peso-titulo-destaque: 700;
    --peso-botao: 700;
    --peso-destaque: 700;

    --tamanho-corpo: 1rem;
    --tamanho-titulo: 1.5rem;
    --tamanho-titulo-destaque: 2rem;
    --tamanho-destaque: 1.375rem;
}